








<section *ngIf="step1" class="w-75 mx-auto rounded-3 bg-main-light p-3 shadow">
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
        <label for="email" class="mb-2">Email</label>
        <input formControlName="email" type="email" id="email" class="form-control">
        <button class="btn-main w-100 mt-3">Send Reset Code</button>
    </form>
    <p *ngIf="usermsgErr" class="alert alert-danger w-75 mx-auto p-2 text-center mt-3 mb-0">{{usermsgErr}}</p>
</section>


<section *ngIf="step2" class="w-75 mt-5 mx-auto rounded-3 bg-main-light p-3 shadow">
    <form [formGroup]="resetcodeForm" (ngSubmit)="resetCode()">
        <label for="reset" class="mb-2">Reset Code</label>
        <input formControlName="resetCode" type="text" id="reset" class="form-control">
        <button class="btn-main w-100 mt-3">Change Password</button>
    </form>
    <p *ngIf="usermsgErr" class="alert alert-danger w-75 mx-auto p-2 text-center mt-3 mb-0">{{usermsgErr}}</p>
</section>

<section *ngIf="step3" class="w-75 mt-5 mx-auto rounded-3 bg-main-light p-3 shadow mb-5">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">

        <div class="password-input">
            <label for="newPassword" class="mb-2">Reset Password</label>
        <input #inputPass [type]="changetype?'password':'text'" formControlName="newPassword" type="password" id="newPassword" class="form-control">
        <span class="eye-icon " (click)="viewPass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i>
        </span>
        </div>
        <div class="alert alert-danger mt-3"
        *ngIf="resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || inputPass.value.length > 0)">
           <p *ngIf="resetPassword.get('newPassword')?.getError('required')">password is Required</p>
           <p *ngIf="resetPassword.get('newPassword')?.getError('pattern')">password must start with upperCase then from 6 to 10</p>
       </div>
        <button [disabled]="resetPassword.invalid" class="btn-main w-100 mt-3">Confirm Password</button>
    </form>
    <p *ngIf="usermsgErr" class="alert alert-danger w-75 mx-auto p-2 text-center mt-3 mb-0">{{usermsgErr}}</p>
</section>